.n1{
	margin: 5px 5px 0px 5px;
	min-height:200px;
	background-image: linear-gradient(to right,black,grey);
	text-align: center;
	font-size: large;
	color: white;
}

a{
	color:  black;
}

a.i:hover{
	color: white;
}

.n3{
	margin: 5px 5px 0px 5px;
	min-height:320px;
	background-color: silver;
	text-align: center;
	font-size: large;
	overflow: hidden;
}

.n4{
	margin: 5px 5px;
	min-height:100px;
	background-color: #a9a9a9;
	text-align: center;
	font-size: large;
}


.n5{
	margin: 5px 5px;
	min-height:700px;
	background-color: #a9a9a9;
	text-align: left;
	font-size: large;
	padding: 5px;
	display:none;
}

.sk{
	margin: 5px 5px;
	min-height:60px;
	background-image: linear-gradient(to right,black,grey,black);
	color:white;
	text-align: center;
	font-size: large;
}

.cm{
	margin: 5px 5px;
	min-height:60px;
	background-image: linear-gradient(to right,black,grey,black);
	color:white;
	text-align: center;
	font-size: large;
}

.cm1{
	margin: 5px 5px;
	min-height:80px;
	background-color: #a9a9a9;
	color:white;
	text-align: center;
}

.a1{
	margin: 5px 5px;
	min-height:80px;
	color:white;
	text-align: center;
}
}

.sk1:hover{
	background-image: linear-gradient(to right,grey,black,grey);
}

.col-xs-4 col-sm-4 col-md-4 col-lg-4{
	margin:5px;
}

.name{
	font-size:80px;
	vertical-align:middle;
}


body{
	background-image: linear-gradient(to right,black,grey);
}

img {
	height: 320px;
	width: 100%;
}

.n4:hover {
	color: white;
	background-image: linear-gradient(to right,black,grey);
	transition: 0.5s;
}

.n4:active {
	color: white;
	background-image: linear-gradient(to right,grey,black);
}


.ed{
	margin: 5px 5px;
	color:white;
	min-height:40px;
	background-image: linear-gradient(to right,black,grey,black);
	text-align: center;
	font-size: large;
}

.eds{
	margin: 5px 5px;
	min-height:100px;
	background-color: #a9a9a9;
	text-align: left;
	font-size: large;
	display:none;
}


.ed:hover {
	background-image: linear-gradient(to right,grey,black,grey);
	margin: 5px 5px;
	color:white;
	min-height:40px;
	text-align: center;
	font-size: large;
	transition:0.2s;
}

.ed:active {
	background-image: linear-gradient(to right,black,grey,black);
	color: white;
}


.jb{
	margin: 5px 5px;
	color:white;
	min-height:20px;
	background-image: linear-gradient(to right,black,grey,black);
	text-align: center;
	font-size: large;
	display:none;
}

.jb:hover {
	background-image: linear-gradient(to right,grey,black,grey);
	margin: 5px 5px;
	color:white;
	min-height:20px;
	text-align: center;
	font-size: large;
	transition:0.2s;
}

.jb:active {
	background-image: linear-gradient(to right,black,grey,black);
	color: white;
}


.in{
	margin: 5px 5px;
	color:white;
	min-height:20px;
	background-image: linear-gradient(to right,black,grey,black);
	text-align: center;
	font-size: large;
	display: none;
}

.in:hover {
	background-image: linear-gradient(to right,grey,black,grey);
	margin: 5px 5px;
	color:white;
	min-height:20px;
	text-align: center;
	font-size: large;
	transition:0.2s;
}

.in:active {
	background-image: linear-gradient(to right,black,grey,black);
	color: white;
}


.tr{
	margin: 5px 5px;
	color:white;
	min-height:20px;
	background-image: linear-gradient(to right,black,grey,black);
	text-align: center;
	font-size: large;
	display:none;
}

.tr:hover {
	background-image: linear-gradient(to right,grey,black,grey);
	margin: 5px 5px;
	color:white;
	min-height:20px;
	text-align: center;
	font-size: large;
	transition:0.2s;
}

.tr:active {
	background-image: linear-gradient(to right,black,grey,black);
	color: white;
}


.pr{
	margin: 5px 5px;
	color:white;
	min-height:20px;
	background-image: linear-gradient(to right,black,grey,black);
	text-align: center;
	font-size: large;
	display:none;
}

.pr:hover {
	background-image: linear-gradient(to right,grey,black,grey);
	margin: 5px 5px;
	color:white;
	min-height:20px;
	text-align: center;
	font-size: large;
	transition:0.2s;
}

.pr:active {
	background-image: linear-gradient(to right,black,grey,black);
	color: white;
}


.ws{
	margin: 5px 5px;
	color:white;
	min-height:20px;
	background-image: linear-gradient(to right,black,grey,black);
	text-align: center;
	font-size: large;
    display:none;
}

.ws:hover {
	background-image: linear-gradient(to right,grey,black,grey);
	margin: 5px 5px;
	color:white;
	min-height:20px;
	text-align: center;
	font-size: large;
	transition:0.2s;
}

.ws:active {
	background-image: linear-gradient(to right,black,grey,black);
	color: white;
}

@media only screen and (max-width: 991px){
	.n1{
	margin: 5px 5px 0px 5px;
	height:120px;
	background-image: linear-gradient(to right,black,grey);
	text-align: center;
	font-size: large;
	color: white;
}


.name{
	font-size:50px;
	vertical-align:middle;
}

img {
	height: 320px;
	width: 100%;
}

.n4{
	margin: 5px 5px;
	min-height:112px;
	background-color: #a9a9a9;
	text-align: center;
	font-size: large;
}
}

@media only screen and (max-width: 575px){


.n4{
	margin: 5px 5px;
	min-height:70px;
	background-color: #a9a9a9;
	text-align: center;
	font-size: large;
}

img{
	width: 300px;
	float: right;
}

.n3{
	width: 300px;
}



}

